#title{
    text-align: center;

}

body{
    background-color: aquamarine;
}

#description{
    font: 1em lobster;
}

.sbe{
    margin-bottom: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset{
    width: fit-content;
}

#comments{
    width: 250px;
    height: 100px;
    resize: none;
}

.eleccion-auto{
    margin-bottom:2px;
}

#dropdown{
    margin-top: 1px;
    border-radius: 0.25rem;
}