#title{
    text-align: center;

}

body{
    background-color: aquamarine;
}

#description{
    font: 1em lobster;
}

.sbe{
    margin-bottom: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset{
    width: fit-content;
}

#comments{
    width: 250px;
    height: 100px;
    resize: none;
}

.eleccion-auto{
    margin-bottom:2px;
}

#dropdown{
    margin-top: 1px;
    border-radius: 0.25rem;
}

#submit{
    height: 60px;
    width: 60px;
    text-shadow: 1px 1px 0.25px black;
    background-color: salmon;
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    background-color:rgb(221, 219, 219);
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 8px;
}